@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Proiect_MDS.Models.RegisterViewModel

@{
    ViewBag.Title = "Register";
}

<h2>New User Registration</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        @Html.LabelFor(m => m.Nume)
        @Html.TextBoxFor(m => m.Nume)
        @Html.ValidationMessageFor(m => m.Nume)
    </div>

    <div>
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email)
        @Html.ValidationMessageFor(m => m.Email)
    </div>

    <div>
        @Html.LabelFor(m => m.Parola)
        @Html.PasswordFor(m => m.Parola)
        @Html.ValidationMessageFor(m => m.Parola)
    </div>

    <div>
        @Html.LabelFor(m => m.ConfirmParola)
        @Html.PasswordFor(m => m.ConfirmParola)
        @Html.ValidationMessageFor(m => m.ConfirmParola)
    </div>

    <div class="form-group">
        <label asp-for="Rol"></label>
        <select asp-for="Rol" class="form-control">
            <option value="">Choose a type</option>
            <option value="User">User</option>
            <option value="Cercetator">Researcher</option>
        </select>
        <span asp-validation-for="Rol" class="text-danger"></span>
    </div>

    <button type="submit">Register</button>
    <a href="@Url.Action("Index", "Home")" class="btn btn-secondary">Back</a>
}

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
